.card-container {
    background-color: #e4e4e4;
    padding: 20px 5px;
    border-radius: 10px;
    margin: 10px;
    user-select: none;
    caret-color: transparent;
    text-align: center;
}

.card-container:hover{
    filter: brightness(95%);
    transform: scale(1.05);
    cursor: pointer;
}