#game-board-container {
    display: grid;
    grid-template-columns: repeat(6, 16%);
    grid-template-rows: repeat(2, 50%);
}

#win-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

@media screen and (max-width: 600px){
    #game-board-container{
        display: flex;
        flex-direction: column;
    }
}